@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Source+Sans+Pro&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/* Cores? Não sei se vou usar mas ta ai */
:root {
    --colorOne: #ff8c8a;
    --colorTwo: #f06c6a;
    --colorThree: #27a34e;
    --colorFour: #69f094;
    --colorFive: #e4d7d6;
    --colorSix: #F61E2F;
    --colorSeven: #f4c4c7;
    --colorEight: #f0e0de;
    --colorNine: #e6a4a8;
    --colorTen: #928182;
    --colorEleven: #615d5e;
}


body {
    height: 100vh;
    background-color: var(--colorEight);
    font-family: 'Inter', sans-serif;
}
/* Area contato */

.num {
    display:none;
    
}



a {
    color: white;
}

#menu  a:hover {
    background: var(--colorTen);
    border-radius: 5px;
    
}

a:active{
    color: rgb(0, 0, 0);
}

#logo {
    /* display: block; */
    /* float: left; */
    /* font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: bolder; */
    padding: 5px;
    cursor: pointer;
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 1rem;
    justify-content: space-between;
    background-color: var(--colorSix);
}
#menu {
    display: block;
    visibility: hidden;
    /* display: block;     */
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position: absolute;
    width: 50%;
    height: 0;
    transition: 0.6s;
    background-color: var(--colorSeven);
    top: 80px;
    right:0px;
    z-index: 100;
    text-align: center;
    overflow-y: hidden;
}



#menu a {
    display: block;
    padding: 1rem 0;   
    margin: 0 1rem;
    border-bottom: 1px solid var(--colorTwo);
}

#nav.active #menu {
    visibility: visible;  
    height: calc(100vh - 80px);
    overflow-y: auto;
}

#mobilebtn {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;

}

#mobileMenu {
    display: block;
    border-top: 2px solid;
    width: 20px;
    color:white;
    
}

/* Animação botão mobile */
#mobileMenu::after, #mobileMenu::before {
    content: " ";
    display: block;
    width:20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
}
/* Se nav tiver a classe .active faça: */

#nav.active #mobileMenu {
    border:none;
}
#nav.active #mobileMenu::after {
    transform: rotate(135deg);
    top: -7px;
}
#nav.active  #mobileMenu::before {
    transform: rotate(-135deg);
}










/* Para desktop/tablet acima de 768px de largura */
@media (min-width: 768px) {
    /* Area contato */
    .linkWhats{
        cursor: pointer;
    }
    .num {
        display:flex;
        /* background-color: var(--colorEleven); */
        background-color: var(--colorTen);
        font-weight: bolder;
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
        padding: 4px;
        justify-content: center;
        gap: 1.5rem;
    }

    /* Header */

    #header {
        justify-content:space-evenly;
        align-items: center;
    }


    /* Menu mobile escondido*/
    #mobilebtn{
        display: block;
        visibility: hidden;
        float: left;
    }
    /* Transformando menu mobile em menu para desktop */
    nav#nav{
        display: flex;
        align-items: center;
    }
    #menu {
        display: flex;
        
        align-items:center;
        gap: 0.5rem;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        position: inherit;
        background-color: none;
        top: 0;
        right:0;
        height: 0;
        visibility: visible; 
        overflow-y: visible; 
        
        
    }
    #menu a {
        display: block;
        padding: 0.5rem;
        border: none;
        
    }
    /* Se nav tiver a classe .active faça: */
    #nav.active #menu {
        display: none;
        visibility: visible;  
    }
}
















@keyframes teste {
    from {border-bottom: 1px solid rgba(255, 0, 0, 0);}
    to {border-bottom: 1px solid rgba(255, 0, 0, 1);}
}
