@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Source+Sans+Pro&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --colorOne: #ff8c8a;
    --colorTwo: #f06c6a;
    --colorThree: #27a34e;
    --colorFour: #69f094;
    --colorFive: #e4d7d6;
}

body {
    background-color: var(--colorOne);
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    flex-flow: wrap;
    background-color: var(--colorFive);
    align-items: center;
}

#logo {
    padding: 0.5rem;
    color: rgb(0, 0, 0);
}

#logo a {
    color: rgb(0, 0, 0);
}

#menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#menu ul {
    display: flex;
}

#menu ul li {
    margin-left: 0.8rem;
}

#menu ul li {
    margin-left: 0.8rem;
}
#menu ul li a {
    color: black;
}

#menu ul li a:hover {
    color: black;
    border-bottom: 1px solid rgba(255, 0, 0, 0);
    animation-name: teste;
    animation-duration: 0.6s;
    
   
}

@keyframes teste {
    from {border-bottom: 1px solid rgba(255, 0, 0, 0);}
    to {border-bottom: 1px solid rgba(255, 0, 0, 1);}
}
